{% extends 'base.html.twig' %}

{% block title %}Time's Up !{% endblock %}

{% block body %}
    <main class="index container">

        <div class="row">
            <div class="col text-center p-3">
            {% if app.user.id is defined %}
            <a href="{{ path('game_play') }}" title="Jouer" class="secondary-button">Je joue!</a>
            {% else %}
            <a href="{{ path('app_register') }}" title="Nouvelle équipe" class="secondary-button">Je crée mon équipe</a>
            {% endif %}
            </div>
        </div>
    </main>
{% endblock %}