{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}
    <main class="terms">

        <div class="row">
           <h1 class="primary-title">Conditions d'utilisation</h1>
        </div>
        <p>En utilisant cette application, vous vous engagez à offrir une bière à Jyaire ;-)</p>
    </main>
{% endblock %}