{% extends 'base.html.twig' %}

{% block title %}Partie terminée{% endblock %}

{% block body %}
    <h1 class="primary-title">Partie terminée !</h1>

{% for team in game.teams %}
    <div class="row p-3 border-bottom border-secondary align-items-center">
        <div class="col-7 text-right">
    <h4>{{ team.name }}</h4>
        </div>
        <div class="col-5">
            {% set score = 0 %}
            {% for point in points %}
                {% if team == point.team %}
                {% set score = score + point.point %}
                {% endif %}
            {% endfor %}
            {{ score }} points
        </div>
    </div>
{% endfor %}

    <div class="row">
        <div class="col text-center p-3">
            <a href="{{ path('game_new') }}" title="Nouvelle partie" class="secondary-button">Nouvelle partie</a>
        </div>
    </div>

{% endblock %}