{% extends 'base.html.twig' %}

{% block title %}Rejoindre une partie{% endblock %}

{% block body %}
    <h2 class="primary-title">Rejoins une partie</h2>

    {{ form_start(form) }}
    numéro fourni {{ form_widget(form.game, {'attr': {'class': 'form-control'}}) }}
    <button class="secondary-button">{{ button_label|default('Joindre cette partie') }}</button>
    {{ form_end(form) }}

{% endblock %}
